This script pulls in MLS player salary info for the 2018-2019 season via https://mlsplayers.org/resources/salary-guide

In [7]:
from bs4 import BeautifulSoup
from decimal import Decimal
import pandas as pd

In [4]:
with open("MLS_SALARIES.html") as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [13]:
def scrape():
    teams = {}
    players = soup.findAll("tr")
    table = pd.DataFrame(columns={'first_name', 'last_name', 'team', 'position', 'base_pay', 'total_pay'})
    player_list = []
    for player in players[1:]:
        attributes = player.findAll("td")
        player_list.append({
            'first_name': str(attributes[0])[4:-5],
            'last_name': str(attributes[1])[4:-5],
            'team': str(attributes[2])[4:-5],
            'position': str(attributes[3])[4:-5],
            'base_pay': Decimal(str(attributes[4])[5:-5].replace(',', '')),
            'total_pay': Decimal(str(attributes[5])[5:-5].replace(',', ''))
        })
    return pd.DataFrame(player_list)

In [34]:
full_players = scrape()
teams = pd.DataFrame(columns={'team', 'total_base', 'total_comp', 'num_players'})
teams.team = full_players.team.unique()

In [39]:
teams.loc[teams['team'] == 'FC Dalllas']['total_base']

Series([], Name: total_base, dtype: object)

In [29]:
teams.loc[teams['team'] == player['team']]['base_pay'] += player['base_pay'] for player in full_players

SyntaxError: invalid syntax (<ipython-input-29-98b85c856797>, line 1)

In [41]:
for player in full_players:
    print(player)
#     teams.loc[teams['team'] == player['team']]['total_base'] += player['base_pay']
#     teams.loc[teams['team'] == player['team']]['total_comp'] += player['total_pay']
#     teams.loc[teams['team'] == player['team']]['num_players'] += 1

base_pay
first_name
last_name
position
team
total_pay

In [28]:
full_players.iloc[0]

base_pay                  55650.00
first_name                  Adrian
last_name                 Zendejas
position                        GK
team          Sporting Kansas City
total_pay                 55650.00
Name: 0, dtype: object